/* 모든 스크롤이 부드럽게 가려면 html에 속성을 주면 된다.*/
html {
    scroll-behavior: smooth;

}

body {
    font-family: Pretendard, "Noto Sans KR", "Malgun Gothic", sans-serif;

    background-color: #092554;

    /* intro-section 이후, 배경사진은 이것으로  + cover or contain 여야지 반복안되고 처리 */
    background-image: url('../img/stars.png');
    /*background-size: cover;*/
    background-size: contain;
}

.intro-section {
    /*@apply h-screen*/

    background-image: url('../img/background.jpg');
    /*background-position: top center;*/
    /*background-position: bottom center;*/
    /* :style로 bottom과 center사이에 y좌표값주기 ? */
    background-size: 140% auto;
    /* 내가 추가 */
    /*background-repeat: no-repeat;*/

    /* 처음에 크기 -> 애니메이션으로 줄어들면서 140 -> 100% 로 0.5초동안 변함.  대신 2초있다가 시작. */

    animation: backgroundSize 1s ease-in-out forwards 1s;


    & .foreground {
        animation: foregroundSize 1s ease-in-out forwards 1s;
        /*   transform으로 줄어들 때, bottom을 기준으로 top에서부터 줄어든다. */
        transform-origin: bottom;
    }
}

@keyframes backgroundSize {
    0% {
        background-size: 140% auto;
    }
    100% {
        background-size: 100% auto;
    }
}

/* foreground 바닥의 그림은, scale()로 1-> 0.75로  줄어들게 한다.*/
@keyframes foregroundSize {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.65);
    }
}

.intro-section-text {
    /* 투명도 뿐만 아니라 300% y축 내려갔다가 -100%로 복귀 */
    animation: introText 1s ease-in-out forwards 1.5s;
}

@keyframes introText {
    0% {
        opacity: 0;
        transform: translateY(300%);
    }
    100% {
        opacity: 1;
        transform: translateY(-100%);
    }
}

.container {
    margin: 0 auto;
    width: 1368px;
    max-width: 100%;
}

header {
    animation: headerAnimation 1s ease-in-out forwards 2s;


    /* 키프레임 0%랑 동일*/
    opacity: 0;
    transform: translateY(-300%);
}

@keyframes headerAnimation {
    0% {
        opacity: 0;
        transform: translateY(-300%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


.bottom-section-text {
    /*animation: bottomText 1s ease-in-out forwards 4s;*/
    /* alpinejs intersect를 적용하기 전에 기존 한참있다가 뜨던 것을, 0초로 바로 시작하도록 바꾼다. */
    animation: bottomText 1s ease-in-out forwards 0s;
}

@keyframes bottomText {
    0% {
        opacity: 0;
        transform: translateY(300%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


.location-box {
    max-width: 271px;

    opacity: 0;
    transform: translateY(300%);

    /* 타이틀이 0초 -> 나머지요소들은 1초부터 5.s 간격*/
    &:nth-child(1) {
        animation: locationBox 1s ease-in-out forwards 1s;
    }

    &:nth-child(2) {
        animation: locationBox 1s ease-in-out forwards 1.5s;
    }

    &:nth-child(3) {
        animation: locationBox 1s ease-in-out forwards 2s;
    }

    &:nth-child(4) {
        animation: locationBox 1s ease-in-out forwards 2.5s;
    }

    &:nth-child(5) {
        animation: locationBox 1s ease-in-out forwards 3s;
    }

    /* 내가 조절한 것.*/

    > img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;

        max-width: 271px;
        max-height: 301px;

        object-fit: cover;
        border-radius: 20px;
    }

    /* 내가 조절한 것 3줄 제한 */

    > p {
        line-height: 1.5;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* 최대3줄로 제한 */
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

@keyframes locationBox {
    0% {
        opacity: 0;
        transform: translateY(300%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
