{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
{% for post in posts -%}
<div class="post-preview">
    <div class="title">
        <a href="{{ post['attributes']['path'] }}">{{ post['attributes']['title']}}</a>
    </div>
    {% if post['attributes'].get('date_parsed') %}
    <div class="date">
        {{ post['attributes']['date_parsed'].strftime('%Y년 %m월 %d일') }}
    </div>
    {% endif %}
    <!-- 작성자 -->
    {% if 'authors' in post['attributes'] %}
    {% include "components/authors.html" %}
    {% endif %}

    <!-- 내용 -->
    <div class="article">
        {% if 'summary' in post %}
        {{ post['summary'] | safe }}
        {% else %}

        요약글이 없는 post입니다.
        {% endif %}
    </div>
</div>
{% endfor %}

{% if  has_prev %}
{% if prev_index == 1 %}
<a class="btn-seemore" href="{{root_path}}blog/">최신 POST</a>

{% else %}
<a class="btn-seemore" href="{{root_path}}blog/page/{{prev_index}}">최신 POST</a>

{% endif %}
{% endif %}

{% if  has_next %}
<a class="btn-seemore" href="{{root_path}}blog/page/{{next_index}}">이전 POST</a>
{% endif %}

{% endblock %}