{% extends "base.html" %}

{% block title %}{{ post['attributes']['title'] }}{% endblock %}

{% block content %}
<!-- 제목 -->
<h1 class="post-title">{{ post['attributes']['title'] }}</h1>


<!-- youtube -->
{% if 'youtube' in post['attributes'] %}
<div class="youtube">
    <!--<iframe width="100%" style="aspect-ratio: 16 / 9;"-->
    <iframe
            src="https://www.youtube.com/embed/{{ post['attributes']['youtube'] }}"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            frameborder="none"
            allowfullscreen>
    </iframe>
</div>
{% endif %}


<!-- 내용 -->
<div class="article">
{{ post['body'] | safe }}
</div>

<!-- 이전 post / 다음 post -->
{% if prev_post %}
<div>
    이전:
    <a href="{{root_path}}{{ prev_post['attributes']['path']  }}">{{ prev_post['attributes']['title'] }}</a>
</div>
{% endif %}
{% if next_post %}
<div>
    다음:
    <a href="{{root_path}}{{ next_post['attributes']['path'] }}">{{ next_post['attributes']['title'] }}</a>
</div>
{% endif %}


<!-- 작성자 -->
{% if 'author' in post['attributes'] %}
{% include "components/author.html" %}
{% endif %}

{% endblock content %}


{% block extra_js %}
<script src="{{ static_path }}/article.js"></script>
{% endblock %}