/* swiper 부모의 높이 정해주기 */
.doctors-top {
    /*height: 560px;*/
    /*height: 858px; !* 반응형 *!*/

    /*background-color: #ebddc4;*/


    box-sizing: border-box;
    letter-spacing: -0.046em;
    word-break: keep-all;
    color: #1d1d1f;

    & .doctors-top-left {
        & .doctorsTopSwiper {
            /*& .swiper-slide.swiper-slide-active {*/
            /*    & img {*/
            /*        opacity: 1;*/

            /*    }*/
            /*}*/

            /*& .swiper-slide:not(.swiper-slide-active) {*/
            /*    & img {*/
            /*        opacity: 0.5;*/
            /*    }*/
            /*}*/

            .swiper-slide img {
                opacity: 0.5;
                transition: opacity 0.3s;
            }

            .swiper-slide.custom-active img {
                opacity: 1;
            }
        }

        max-width: 100%;
        width: 100%;
        height: auto;
        /*height: 560px;*/
        /*height: 858px; !* 반응형 *!*/
        /*object-fit: cover;*/
        object-fit: contain;
    }


    & .doctors-name {
        padding-top: 4px;
        /*border-top: 1px solid #707070;*/
        /*color: rgb(134, 134, 139);*/
        border-top: 1px solid #d9d9d9;
        color: #d9d9d9;
        opacity: 0.6;

        text-align: center;
    }

    & .doctors-top-left {
        & .doctorsTopSwiper {
            & .swiper-slide.custom-active {
                & .doctors-name {
                    opacity: 1;
                    font-weight: 600;
                }
            }
        }
    }


    & .doctors-top-right {

        & .doctors-top-right-title {
            position: relative;

            &::after {
                content: "";
                display: block;
                position: absolute;
                left: 0px;
                bottom: 0px;
                width: 40px;
                height: 2px;
                background: #CEA869;
            }
        }

        & .doctors-top-right-subtitle {
            position: relative;

            &::before {
                content: '“';
                color: #fde68a;
                font-size: 30px;
                vertical-align: top;
                opacity: 0.7;

            }

            &::after {
                content: '”';
                color: #fde68a;
                font-size: 30px;
                vertical-align: top;
                opacity: 0.7;
            }
        }


        .doctors-swiper-button-prev {

        }

        .doctors-swiper-button-next {

        }

    }

    .doctorsMentSwiper {
        & .swiper-slide {
            height: auto !important;
        }
    }
}

/* height 애니 추가. */
.doctors-bottom {
    transition: all 0.5s ease-in-out;
    /*& .doctors-bottom-img {*/
    /*    transition: margin 0.5s ease;*/
    /*}*/


}

.doctors-bottom {
    /*margin-top: 5px;*/
    max-width: 1088px;

    & .doctors-bottom-img {
        max-width: calc(552px * 0.95);
        margin: 0;

        float: right;

    }

    /* 자세히 보기시 */

    .showDetail & {
        max-width: 1150px;

        & .doctors-bottom-img {
            max-width: calc(552px * 1.1);
        }
    }

    & .doctors-bottom-text {
        position: absolute;
        /*top: 100px;*/
        top: 65px;

        /*width: 648px;*/ /* tailwind로 */
        height: 100%;
        padding: 23px 0px 0px 80px;;

        & .doctors-bottom-text-description {
            position: relative;
            /*color: #CEA869;*/
            font-size: 28px;
            /*font-weight: 400;*/
            display: inline-block;
            margin-bottom: 5px;

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -200px;

                width: 180px;
                height: 2px;
                background: #CEA869;
            }
        }

        & .doctors-bottom-text-button {
            position: relative;

            max-width: 225px;
            border-bottom: 1px solid #fde68a;
            /*border: 1px solid #fde68a;*/
            /*border-radius: 15px;*/
            /*padding: 7px 24px;*/
            /*padding-right: 46px;*/

            /*line-height: 35px;*/
            /*height: 38px;*/


            display: inline-block;
            /*margin-top: 30px;*/

            /*&::after {*/
            /*    content: "";*/
            /*    display: block;*/
            /*    position: absolute;*/
            /*    width: 5.4px;*/
            /*    height: 10.8px;*/
            /*    background: url(http://hanchangbone.com/img/linkstyle1.png) no-repeat 50%;*/
            /*    background-size: auto 100%;*/
            /*    top: 50%;*/
            /*    transform: translateY(-50%);*/
            /*    right: 20px;*/
            /*}*/
        }

        & .doctors-bottom-text-name {
            font-size: 60px;
            line-height: 76px;
            /*color: #02233F;*/
            /*color: #1e77e5;*/
            font-weight: 500;
            margin-bottom: 4px;

            > span {
                display: inline-block;
                font-size: 34px;
                vertical-align: bottom;
                margin-left: 20px;
                transform: translateY(10px);
            }
        }

        & .doctors-bottom-text-title {
            display: inline-block;
            width: 100px;
            /*border: 1px solid #575c63;*/
            border: 1px solid #fff;
            border-radius: 18px;
            /*height: 31px;*/
            /*line-height: 31px;*/
            line-height: 32px;
            height: 34px;
            font-weight: 700;
            font-size: 17px;
            /*color: #575c63;*/
            color: #ffffff;
            text-align: center;
        }


        & .doctors-bottom-text-schedule {
            & .schedule_list {

                & .inner {
                    float: right;
                    margin: 16px 0 0;
                    font-size: 0;

                    & .clinic {
                        display: inline-block;
                        position: relative;
                        padding: 0 0 0 20px;
                        font-weight: 500;
                        font-size: 14px;
                        color: #ffffff;

                        &:before {
                            display: block;
                            content: '';
                            width: 10px;
                            height: 10px;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 0;
                            background: url(../img/icon_clinic.png) 0 0 / 10px 10px no-repeat;
                        }
                    }

                    & .night {
                        display: inline-block;
                        position: relative;
                        margin: 0 0 0 20px;
                        padding: 0 0 0 20px;
                        font-weight: 500;
                        font-size: 14px;
                        color: #ffffff;

                        &:before {
                            display: block;
                            content: '';
                            width: 13px;
                            height: 12px;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 0;
                            background: url(../img/icon_star.png) 0 0 / 13px 12px no-repeat;
                        }
                    }

                    & .half {
                        display: inline-block;
                        position: relative;
                        margin: 0 0 0 20px;
                        padding: 0 0 0 20px;
                        font-weight: 500;
                        font-size: 14px;
                        color: #ffffff;

                        &:before {
                            display: block;
                            content: '';
                            width: 13px;
                            height: 12px;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 0;
                            background: url(../img/icon_clinic_half.png) 0 0 / 12px 12px no-repeat;
                        }
                    }
                }
            }

            .schedule-table {
                border-spacing: 0;
                table-layout: fixed;
                text-align: center;

                border-collapse: collapse;

                padding: 0;
                border: 0;
                background: transparent;

                & thead {
                    /*background: #9ca5b0;*/
                    background: rgba(138, 143, 148, 0.3);

                    & th {
                        padding: 6px 0 7px;
                        font-size: 16px;
                        font-weight: 800;


                    }
                }

                & tbody {
                    /*background: #acb6be;*/

                    & th {
                        border-bottom: 1px solid #9ca5b0;

                        font-weight: 800;
                        font-size: 16px;
                        /*line-height: 35px;*/
                        /* 오전 및에 시간 */
                        line-height: 16px;
                        padding: 6px 0;
                        color: #ffffff;

                        > small {
                            font-size: 75%;
                            font-weight: 400;
                        }
                    }

                    & td {
                        position: relative;

                        border-bottom: 1px solid #9ca5b0;
                        color: #ffffff;

                        font-size: 10px;
                        font-weight: 500;
                        /*line-height: 35px;*/
                        height: 35px;
                        vertical-align: bottom;


                        & img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);

                            vertical-align: middle;
                        }
                    }
                }
            }

        }

        /*& .doctors-bottom-text-button {*/
        /*    max-width: 201px;*/
        /*    border: 1px solid #CEA869;*/
        /*    padding: 7px 24px;*/
        /*    padding-right: 46px;*/
        /*    font-size: 17px;*/
        /*    color: #cea869;*/
        /*    display: inline-block;*/
        /*    position: relative;*/
        /*    margin-top: 30px;*/
        /*}*/


        & .doctors-bottom-text-career {

            & span, & h5 {
                line-height: 25px;
                font-size: 16px;
            }

            /* 기간 */

            & span {
                font-weight: 350;
                color: white;
            }

            /* 커리어 or 자격증 */

            & h5 {
                padding-left: 5px;
                padding-right: 27px;

                font-weight: 550;

                &.verify {
                    color: #deb97b;
                    background-image: url("../img/profile-verify-gold.svg");
                }

                &:not(.verify) {
                    color: #cdcdcd;
                }

                &.cert {
                    padding-left: 20px;
                    line-height: 25px;
                    font-size: 16px;
                    color: #cdcdcd;

                    font-weight: 500;

                    background-image: url("../img/profile-cert.svg");
                }
            }
        }

    }

    /* 자세히 보기시 */

    .showDetail & {
        & .doctors-bottom-text-career {

            & span, & h5 {
                line-height: 23px;
                font-size: 15px;
            }
        }

        & .doctors-bottom-text {
            & .doctors-bottom-text-career {
                & h5 {
                    &.cert {
                        line-height: 23px;
                        font-size: 15px;
                        color: #cdcdcd;

                        padding-right: 0;
                    }
                }
            }
        }
    }
}

/* intro로서 애니메이션 적용하기 */
.doctors-bottom {
    & .doctors-bottom-img,
    .doctors-bottom-text-description,
    .doctors-bottom-text-name,
    .doctors-bottom-text-schedule,
    .doctors-bottom-text-career,
    .doctors-bottom-text-button {
        opacity: 0;
        animation: showDoctorsContent 0.5s 0.7s ease-in-out 1 forwards;
    }

    & .doctors-bottom-text-description,
    .doctors-bottom-text-name {
        animation-delay: 0.9s;
    }

    & .doctors-bottom-text-description,
    .doctors-bottom-text-name {
        animation-delay: 1.1s;
    }

    & .doctors-bottom-text-schedule {
        animation-delay: 1.3s;
    }

    & .doctors-bottom-text-career {
        animation-delay: 1.5s;
    }

    & .doctors-bottom-text-button {
        animation-delay: 1.67s;
    }
}

@keyframes showDoctorsContent {
    from {
        transform: translateY(50px);
        filter: blur(30px);
    }
    to {
        transform: translateY(0);
        filter: blur(0);

        opacity: 1;
    }
}


.bg-img {
    background: no-repeat var(--bg-x, center) var(--bg-y, center) var(--bg-color, transparent);
    background-size: var(--bg-img-width, auto) var(--bg-img-height, auto);
}


.bg-img-x-center {
    --bg-x: center;
}


.bg-img-y-center {
    --bg-y: center;
}

.bg-img-color-transparent {
    --bg-color: transparent;
}

.bg-img-width-auto {
    --bg-img-width: auto;
}

.bg-img-height-auto {
    --bg-img-height: auto;
}


/* 더보기 > 버튼을 위해, 배경이미지를 x right에 붙히도록 넣어주는 mixin */
.bg-img-x-right {
    background-position: right center;
}

/* 별점 배경이미지를 x left에 붙이기 */
.bg-img-x-left {
    background-position: left center;
}

/* 불가피하게 좌우공통여백이 20px 추가된 경우 -> 왼쪽에서 20px에 위치하는 왼쪽 아이콘 */
.bg-img-x-left-20px {
    background-position: left 20px center;
    @media (max-width: 767px) {
        background-position: left 0 center;
    }
}
