@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    /*  */
    --greyf1: #f1f3f6;
    --greyf2: #f2f2f2;

    /* font */
    --grey3c: #3c3c3c;
}

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 100%;
    line-height: 1.65;
}


/* base.html */
/* sticky footer */
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 5em;
}

.nav {
    background-color: #1ECECB;
    padding: 1em;
    color: white;

    & a {
        color: inherit;
    }

    & a#title {
        font-weight: bold;
        text-decoration: none;
        font-size: 150%;
    }

    & .links {
        display: inline-block;
        list-style-type: none;
        padding-left: inherit;

        & li {
            display: inline-block;
            padding: 0 1em;
        }

        & li a {
            text-decoration: none;
        }
    }
}

.nav, .nav #title {
    display: flex;
    align-items: center;
}

.nav #logo {
    margin-right: 0.4em;
    height: 2em;
}


.content {
    & .layout-center {
        /*margin: 1em;*/
        width: 1185px;
        /*margin: 0 auto;*/
        /* 기본 위쪽 여백 추가 */
        margin: 60px auto 0;

        /*@media (max-width: 767px) {*/
        @media (max-width: 991px) {
            margin: 0;
            width: 100%;
            /* w100%에  추가로 padding을 주면, box-sizing: border-box 안주면 가로스크롤이 생긴다.*/
            /* -> 여기선 bootstrap reboot에서 처리해줘서 생략했다.*/
            box-sizing: border-box;
            /* header 모바일 패딩과 동일한 값 */
            /*padding: 0 15px 0 ;*/
            /* 모바일에서 section mt까지 대체 */
            /* 특히 section-border도 반영하려면, margin대신 padding으로 */
            padding: 20px;
        }
    }

    .section-border {
        @media (min-width: 0px) and (max-width: 991px) {
            border-bottom: .8rem solid var(--greyf1);
        }
    }
}


/* index.html */
.posts-index {
    & .post {
        padding: 0.5em 0;
    }

    & .post .title {
        font-size: 150%;
    }
}


/* archive.html -> archive/index.html */




/*img[alt$="-fullwidth"]{*/
/*  width:  50%;*/
/*  display: block;*/
/*}*/

